*.* linguist-vendored=true
/Weahter_Statistic/wwwroot/js/mainpageJS.js linguist-vendored=false
/Weahter_Statistic/wwwroot/css/* linguist-vendored=false
/WeatherTest/* linguist-vendored=false
/Weahter_Statistic/Controllers/* linguist-vendored=false
/Weahter_Statistic/Models/* linguist-vendored=false
