<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weather_Statistic</title>

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/mainPage.css" />       
    </environment>   
   
</head>
<body>
    <div class="myContainer">
        <div class="myRow">
            <div class="innerRow1">
                <div class="boxLogo">
                    <div class="logo">
                        <!--https://www.freepik.com/free-vector/lovely-monsoon-season-composition-with-flat-design_2631127.htm-->
                    </div>
                </div>
                <div class="boxHeader">
                    <header>Statystyki pogodowe</header>
                    <br />
                    <button class="btn btn-outline-dark btn-lg mybutton">Więcej</button>
                </div>
            </div>
            <div class="innerRow2">
                <div class="goldthink">
                    <p class="think">"Rozmowy o pogodzie staną się interesujące przy pierwszych oznakach końca świata."</p>
                    <p class="author">Stanisław Jerzy Lec</p>
                </div>
                <div class="goldthink">
                    <p class="think">"Trzęsienia ziemi są grymasami świata."</p>
                    <p class="author">Leopold R. Nowak</p>
                </div>
                <div class="goldthink">
                    <p class="think">"Deszcz jest maszyną do szycia, która przyszywa ziarno do ziemi."</p>
                    <p class="author">Ramon Gomez de la Serna</p>
                </div>
            </div>
        </div>
        <footer>
            &copy; STOPKA
        </footer>
    </div>

    <div class="menu">
        <p>Menu</p>
    </div>
    <div class="bgmenu"></div>

    <nav>
        <p class="titlemenu">Menu:</p>
        <ul>
            <li>
                <div class="detailmenu">
                    <p> Dane dla jednego miasta</p>
                    <ul class="undermenu">
                        <li>test1</li>
                        <li>test1</li>
                        <li>test1</li>
                        <li>test1</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="detailmenu">
                    <p>Porównywarka miast</p>
                    <ul class="undermenu">
                        <li>test1</li>
                        <li>test1</li>
                        <li>test1</li>
                        <li>test1</li>
                    </ul>
                </div>
            </li>
            <li>
                Prognoza na jutro
            </li>
        </ul>
    </nav>
    @RenderBody()
    <script type="text/javascript" src="~/js/mainpageJS.js"></script>
</body>
</html>
