<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather_Statistic</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/ResultStyle.css" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        
    </environment>
</head>
<body>
    <div class="myContainer">
        <div class="picture">
            <div class="banner">
                <div class="menu">
                    <div class="logo"></div>
                    <nav>
                        <ul class="mainNav">
                            <li><a asp-action="Index">Strona główna</a></li>
                            <li>
                                <ul class="navOption">
                                    Dane przeszłe dla jednego miasta
                                    <li>wczoraj</li>
                                    <li>ostatnie 3 dni</li>
                                    <li>ostatnie 7 dni</li>
                                    <li>ostatnie 14 dni</li>
                                    <li>ostatnie 21 dni</li>
                                    <li>ostatnie 30 dni</li>
                                    <li>niestandardowe</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="navOption">
                                    Dane przeszłe dla dwóch miast
                                    <li>wczoraj</li>
                                    <li>ostatnie 3 dni</li>
                                    <li>ostatnie 7 dni</li>
                                    <li>ostatnie 14 dni</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="navOption">
                                    Prognozy
                                    <li>jutro</li>
                                    <li>3 dni</li>
                                    <li>7 dni</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="content">
            <main>
                @RenderBody()
            </main>
        </div>
        <footer>
            Stopka
        </footer>
    </div>
</body>
</html>

