<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Karol Ścigała" />
    <meta name="copyright" content="Karol Ścigała" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="historia pogody,informacje o pogodzie,porównania pogody" />
    <meta name="description" content="Informacje na temat pogody, które już zaszły, a także prognoza na jutro" />
    <title>Weather_Statistic</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/ResultStyle.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

    </environment>
</head>
<body>
    <div class="myContainer">
        <div class="picture">
            <div class="banner">
                <div class="menu">
                    <div class="logo"></div>
                    <nav>
                        <ul class="mainNav">
                            <li><a asp-action="Index">Strona główna</a></li>
                            <li>
                                <ul class="navOption">
                                    Dane przeszłe dla jednego miasta
                                    <li><a asp-controller="Home" asp-action="Searcher" asp-route-days="1">Wczoraj</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCity" asp-route-days="3">3 dni</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCity" asp-route-days="7">7 dni</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCity" asp-route-days="14">14 dni</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCity" asp-route-days="31">31 dni</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class="navOption">
                                    Dane przeszłe dla dwóch miast
                                    <li><a asp-controller="Home" asp-action="SearcherTwo" asp-route-days="1">Wczoraj</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCompares" asp-route-days="3">3 dni</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCompares" asp-route-days="7">7 dni</a></li>
                                    <li><a asp-controller="Home" asp-action="ManyDaysCompares" asp-route-days="14">14 dni</a></li>
                                </ul>
                            </li>
                            <li class="futureWet">
                                   <a asp-controller="Home" asp-action="FutureDay" style="text-wrap:normal;">Prognozy na jutro</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="content">
            <main>
                @RenderBody()
            </main>
        </div>
        <footer>
            &copy; 2019, Aplikacja internetowa stworzona przez Karola Ścigała
        </footer>
    </div>
</body>
</html>

