html, body, .myContainer {
    height: 100%;
    width: 100%;
}


html, body {
    background: url('../picture/blue_sky.jpg');
    background-size: cover;
}

.myContainer {
    display: grid;
    grid-template-rows: auto 25px;

}

.myRow {
    grid-row: 1;
    display: grid;
    grid-template-rows: 2fr 14fr 5fr;
    grid-gap:10px;
}

    .myRow > .innerRow1 {
        grid-row: 2;
        height: 100%;
        margin: auto;
        display:grid;
        grid-template-columns:2fr 4fr 2fr;
    }

    .innerRow1 > .boxLogo{
        grid-column:1;
        height:100%;
        width:100%;
        position:relative;
    }
    
    .boxLogo > .logo{
        height:75px;
        width:75px;
        background:#0094ff;
        border:2px solid black;
        border-radius:50%;
        right:25px;
    }

        .innerRow1 > .boxHeader {
            font-size: 20px;
            color: white;
            margin: auto;
            padding: 25px 15px;
            text-align: center;
            position: relative;
            grid-column:2;
        }

.boxHeader > header {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: #4cff00;
}

.boxHeader > .mybutton {
    margin-top: 20px;
    border-width:2px;
}


.innerRow2 {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.goldthink:first-child {
    border: 2px solid black;
    border-right:none;
}

.goldthink {
    border: 2px solid black;
    background:rgba(25, 100, 206, 0.40);
}

    .goldthink:last-child {
        border: 2px solid black;
        border-left: none;
    }

footer {
    background: black;
    grid-row: 2;
    color: white;
    text-align: center;
}

.menu{
    height:40px;
    width:100px;
    background:black;
    color:white;

    position:absolute;
    right:0;
    top:5vh;
    display:flex;
    justify-content:center;
    align-items:center;

    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:2px solid white;
    border-right:none;
}

nav{
    position:absolute;
    height:100vh;
    width:150px;
    background:rgba(0, 0, 0, 0.75);
    top:0;
    right:0;

    color:white;
    display:flex;
    justify-content:center;
    align-items:middle;
}