html, body, .myContainer {
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    margin:0;
}


html, body {
    background: url('../picture/blue_sky.jpg') no-repeat;
    background-size:cover;
    background-position:bottom;
}

.myContainer {
    height:100%;
    display: grid;
    grid-template-rows: auto min-content;

}

.myRow {
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
    grid-gap:10px;
}

    .myRow > .innerRow1 {
        grid-row: 2;
        height: 100%;
        margin: auto;
        display:grid;
        grid-template-columns:2fr 4fr 2fr;
    }

    .innerRow1 > .boxLogo{
        grid-column:1;
        height:100%;
        width:100%;
        position:relative;
    }
    
    .boxLogo > .logo{
        background:url('../picture/logo.jpg');
        background-size:5vw;
        height:5vw;
        width:5vw;
        border:2px solid black;
        border-radius:50%;
        right:5vw;
    }

        .innerRow1 > .boxHeader {
            font-size: 20px;
            color: white;
            margin: auto;
            padding: 25px 15px;
            text-align: center;
            position: relative;
            grid-column:2;
        }

.boxHeader > header {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: #4cff00;
}

.boxHeader > .mybutton {
    margin-top: 20px;
    border-width:2px;
}


.innerRow2 {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.goldthink:first-child {
    border: 2px solid black;
    border-right:none;
}

.goldthink {
    border: 2px solid black;
    background:rgba(25, 100, 206, 0.40);
    padding:25px 50px; 
    position:relative;
}
    .goldthink:last-child {
        border: 2px solid black;
        border-left: none;
    }

    .goldthink > .think {
        color: bisque;
        font-weight: bold;
        font-size: 1.4rem;
        text-indent: -15px;
        text-align:center;
    }
    .goldthink > .author {
        color: bisque;
        font-style:italic;
        font-size: 1.2rem;
        position:absolute;
        right:25px;
        bottom:0;
    }

footer {
    background: black;
    grid-row: 2;
    color: white;
    text-align: center;
}

.bgmenu{
    height:100%;
    width:100%;
    z-index:222;
    display:none;
    background:rgba(255, 228, 196,1);
    position:fixed;
    top:0;
    left:0;
}

.menu{
    height:40px;
    width:100px;
    background:black;
    color:white;

    position:fixed;
    right:0px;
    top:5vh;
    display:flex;
    justify-content:center;
    align-items:center;

    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:2px solid white;
    border-right:none;

    cursor:pointer;
}


nav{
    position:absolute;
    height:100vh;
    width:400px;
    min-width:15vw;
    background:rgba(0, 0, 0, 0.75);
    top:0;
    right:-400px;

    color:white;
    font-size:5vh;

    border-left:1px solid white;
}
    nav > p {
        font-size:1.2em;
        font-weight:bold;
        border-bottom: 1px solid white;
        padding-left: 15%;
        padding-bottom:20px;
        z-index:2;
    }
    nav > ul {
        margin-top: 50px;
        list-style-type: none;
        padding: 1vh 1vw;
    }

    nav > ul > li{
        font-size:0.8em;
        border:2px solid white;
        border-radius:25px;
        text-align:center;
        margin-bottom:15px;
        background:#141212;
    }
