@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body, .myContainer {
    min-height:100vh;
    width: 100%;
    margin: 0;
}

.myContainer {
    display: grid;
    grid-template-rows: 300px auto 40px;
    grid-gap: 15px;
    height:100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004799+1,207cca+70,5eaae0+99 */
    background: rgb(0,71,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,71,153,1) 1%, rgba(32,124,202,1) 70%, rgba(94,170,224,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,71,153,1) 1%,rgba(32,124,202,1) 70%,rgba(94,170,224,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,71,153,1) 1%,rgba(32,124,202,1) 70%,rgba(94,170,224,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004799', endColorstr='#5eaae0',GradientType=0 ); /* IE6-9 */
}

div.picture {
    grid-row: 1;
    background: url('../picture/bubble.jpg');
    background-size: cover;
}

.picture > .banner {
    height: 70px;
    width: 100%;
    min-width:100%;
    background: rgba(0,71,153,0.7);
    display: flex;
}

.banner > .menu {
    min-width:810px;
    width: 80%;
    display: table;
    margin: auto;
    height: 100%;
}

    .banner > .menu > .logo {
        background: url('../picture/logo.jpg');
        background-size: cover;
        height: 60px;
        width: 60px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        float: left;
        margin-top:5px;
        margin-right:10px;
    }

nav {
    display: inline-block;
    margin-left: 30px;
    margin-top: 5px;
    float: left;
    z-index: 999;
    height: 60px;
    background: rgba(5, 5, 5, 0.25);
    border-radius: 25px;
    min-width: 710px;
    width: calc(100% - 100px);
}

.menu > nav > .mainNav {
    padding: 0;
    margin: 0;
    padding-right: 30px;
    list-style: none;
    color: red;
    font-weight: bold;
    display: inline-block;
    height: 100%;
}


nav > .mainNav > li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    float: left;  
    height: 100%;
    border-right: gray 1px solid;
}

    nav > .mainNav > li:first-child {
        margin-left: 10px;
    }

    nav > .mainNav > li:last-child {
        border: none;
    }

.navOption {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}
    .navOption:hover{
    color:#e66a0d;
}

    .navOption > li {
        background: rgba(5, 5, 5, 0.65);
        font-size:16px;
        color:#3ce402;
        display: none;
        z-index: 9999;
        transition:height 2s ease;
        height:0px;
    }
 
    .navOption:hover > li {
        display: block;
        z-index: 9999;
        padding-bottom: 5px;
        height: auto;
    }

    .navOption > li:first-child {
        padding-top: 10px;
        border-top: 1px solid #e66a0d;
        
    }

    .navOption:hover > li:hover {
        background: rgba(30, 29, 29, 0.80);
        color:#b3f806;
    }

.content {
    color: aqua;
    grid-row: 2;
}

main {
    width: 80vw;
    height: 100%;
    margin: auto;
}

article {
    height: 100%;
}


    .title > form {
        min-width: 250px;
        width: 40vw;
        margin: auto;
    }

.resultSection {
    height: calc(100% - 56px);
    border: 1px solid black;
}

    .resultSection > h1 {
        color: burlywood;
        margin: 0;
        padding-top:5px;
        padding-bottom: 5px;
        border-bottom: 2px solid black;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
    }

        .resultSection >h1> .onlycity{
            color:#afd275;
            text-decoration:underline;
        }

.default {
    min-height: 200px;
    width: 100%;
    background: rgba(128, 128, 128, 0.3);
    font-size: 18px;
}

.default>h3{
    padding-left:10px;
    color:#fbeec1;   
}

    .default:nth-child(2n) {
        background: rgba(208, 171, 171, 0.3);
    }
.linesun {
    padding-top:20px;
    width: 300px;
    display: flex;
    margin: auto;
}

.line {
    width: 250px;
    display: flex;
    margin: auto;
}

/*wykres*/
.half-circle {
    width: 300px;
    height: 80px;
    background-color: gold;
    border-top-left-radius: 110px; /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 10px solid yellow;
    border-bottom: 0;
}

.line > .linecenter, .linesun > .linecenter {
    position: relative;
    transform: translateY(25%);
}

.line>.linecenter {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px;
}
.righttext {
    padding-left: 20px;
}

.groupImage{
    display:block;
}

.groupImage > img{
    display:block;
    height:100px;
    width:auto;
    margin:auto;
}

.authors {
    font-size: 8px;
    color: black;
    text-align: center;
}

.authors>a{
    text-decoration:none;
    color:black;
    
}

.temperature{
    display:flex;
}

footer {
    grid-row: 3;
    background: black;
    color: white;
    text-align: center;
}

#windchart {
    min-width: 300px;
    max-width: 800px;
    height: 300px;
    margin: 1em auto;
}

#csv {
    display: none;
}