/*Elements for page where there are compares cities*/
.twoCities{
    display:grid;
    grid-template-columns:50% 50%;
    text-align:center;
}
/*Separate two sun*/
.divide {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
/*sun before*/
.hleft{
    grid-column:1;
    border-right:1px solid black;
}

/*sun after*/
.hright {
    grid-column: 2;
    border-left: 1px solid black;
}

h1{
    margin-bottom:0;
    padding-bottom:10px;
}

.block{
    display:block;
}


/*Colors for cities*/
.town1 {
    color: #ea8606;
    font-weight:bold;
}

.town2 {
    color: #9ACD32;
    font-weight: bold;
}


.mybutton{
    margin:auto;
}

