
@{
    ViewData["Title"] = "ManyDaysCity";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
}

<head>
    <script src="~/js/mychart.js"></script>
</head>
<article>

    <section class="title">
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nazwa miasta" aria-label="Nazwa miasta" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="button-addon2">Button</button>
                </div>
            </div>
        </form>
    </section>
    <section class="resultSection">
        <h1>Wyniki dla: </h1>
        <div class="default">
            <h3>Wschód i zachód słońca</h3>

            <div class="">
                <div id="sunriset" style="min-width: 310px; height: 400px; margin: 25px auto"></div>

                <table class="table table-bordered table-dark">
                    <tr>
                        @for (int i = 0; i < 20; i++)
                        {
                            <th scope="col">test @i</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 0; i < 20; i++)
                        {
                            <td>test wynik @i</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="default">
            <h3>Ciśnienie</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/barometer.svg" />
                    <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext">1024hPa</div>
            </div>
        </div>
        <div class="default">
            <h3>Wilgotność</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/humidity.svg" />
                    <div class="authors">Icons made by <a href="https://www.flaticon.com/authors/kirill-kazachek" title="Kirill Kazachek">Kirill Kazachek</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 100%</div>
            </div>
        </div>
        <div class="default">
            <h3>Zachmurzenie</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/cloudy.svg" />
                    <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 100%</div>
            </div>
        </div>
        <div class="default ">
            <h3>Temperatura minimalna i maksymalna</h3>
            <div class="temperature">
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/warm.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> 25&degC </div>
                </div>
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/cold.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> -25&degC</div>
                </div>
            </div>
        </div>
        <div class="default">
            <h3>Opady</h3>
            <div class="temperature">
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/rain.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> 0mm </div>
                </div>
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/snow.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> 0mm</div>
                </div>
            </div>
        </div>
        <div class="default">
            <h3>Prędkość i kierunek wiatru</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/windy.svg" />
                    <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 20 km/h E</div>
            </div>
        </div>
        <div class="default">
            <h3>Widoczność</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/visibility.svg" />
                    <div class="authors">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 20km</div>
            </div>
        </div>
    </section>
</article>
