
@{
    ViewData["Title"] = "SearcherTwo";
    Layout = "~/Views/Shared/_ResultPage.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/TwoCities.css" />
</head>
<article>

    <section class="title">
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Miasto nr.1">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Miasto nr.2">
                </div>
            </div>
            <div class="row justify-content-xl-center m-3">
                <button type="submit" class="btn btn-success btn-lg">Porównaj</button>
            </div>
        </form>
    </section>
    <section class="resultSection">
        <div class="twoCities"><h1 class="hleft">Wyniki dla:</h1><h1 class="hright">Wyniki dla:</h1></div>
        <div class="default">
            <h3>Wschód i zachód słońca</h3>
            <div class="divide">
                <div class="line">
                    <div class="linecenter">6:22</div>
                    <div class="half-circle">
                    </div>
                    <div class="linecenter">16:22</div>
                </div>
                <div class="line">
                    <div class="linecenter">6:53</div>
                    <div class="half-circle">
                    </div>
                    <div class="linecenter">16:53</div>
                </div>
            </div>
        </div>
        <div class="default">
            <h3>Ciśnienie</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/barometer.svg" />
                    <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext">1024hPa</div>
            </div>
        </div>
        <div class="default">
            <h3>Wilgotność</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/humidity.svg" />
                    <div class="authors">Icons made by <a href="https://www.flaticon.com/authors/kirill-kazachek" title="Kirill Kazachek">Kirill Kazachek</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 100%</div>
            </div>
        </div>
        <div class="default">
            <h3>Zachmurzenie</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/cloudy.svg" />
                    <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 100%</div>
            </div>
        </div>
        <div class="default ">
            <h3>Temperatura minimalna i maksymalna</h3>
            <div class="temperature">
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/warm.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> 25&degC </div>
                </div>
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/cold.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> -25&degC</div>
                </div>
            </div>
        </div>
        <div class="default">
            <h3>Opady</h3>
            <div class="temperature">
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/rain.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> 0mm </div>
                </div>
                <div class="line">
                    <div class="groupImage">
                        <img src="~/picture/snow.svg" />
                        <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                    </div>
                    <div class="linecenter righttext"> 0mm</div>
                </div>
            </div>
        </div>
        <div class="default">
            <h3>Prędkość i kierunek wiatru</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/windy.svg" />
                    <div class="authors">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 20 km/h E</div>
            </div>
        </div>
        <div class="default">
            <h3>Widoczność</h3>
            <div class="line">
                <div class="groupImage">
                    <img src="~/picture/visibility.svg" />
                    <div class="authors">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
                <div class="linecenter righttext"> 20km</div>
            </div>
        </div>
    </section>
</article>